<a href="https://colab.research.google.com/github/paascorb/AgendaAndroidStudio/blob/master/Predicci%C3%B3nExtraTreesConHiperparametros.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Generación de predicciones con ExtraTrees con Hiperparametros ajustados

Este notebook es muy similar a su homologo con el modelo sin ajustar hiperparametros, pero en este utilizamos ya el modelo con los hiperparametrso fijados, como hemos fijado los hiperparametros está representado en otro notebook llamado 'AjustandoHiperparametrosExtraTreeRandomSearch.ipynb'

Cargamos el dataset de entrenamiento

In [4]:
import pandas as pd
import numpy as np
from sklearn.ensemble import ExtraTreesClassifier
df = pd.read_csv("train.csv")
X =  df.values[:,:-1]
Y =  df.values[:,-1]

Creamos el modelo con los hiperparametros fijados y lo entrenamos

In [5]:
modelExtraTree = ExtraTreesClassifier(bootstrap=False, max_depth=60, max_features='sqrt', min_samples_leaf=1, min_samples_split=5, n_estimators=800)
modelExtraTree.fit(X,Y)

ExtraTreesClassifier(bootstrap=False, ccp_alpha=0.0, class_weight=None,
                     criterion='gini', max_depth=60, max_features='sqrt',
                     max_leaf_nodes=None, max_samples=None,
                     min_impurity_decrease=0.0, min_impurity_split=None,
                     min_samples_leaf=1, min_samples_split=5,
                     min_weight_fraction_leaf=0.0, n_estimators=800,
                     n_jobs=None, oob_score=False, random_state=None, verbose=0,
                     warm_start=False)

Cargamos el dataset del test.

In [6]:
testdf = pd.read_csv("test.csv")
testdata = testdf.values

Y realizamos la predicción

In [7]:
predicciones = modelExtraTree.predict(testdata)

Creamos la tabla que contendra el Id y las predicciones

In [8]:
soldf = pd.DataFrame([(i+1,int(pred)) for i, pred in enumerate(predicciones)])

Añadimos las columnas

In [9]:
soldf.columns = ['Id','Prediction']

Visualizamos las 19 primeras entradas para comprobar que todo está correcto.

In [10]:
soldf.head(19)

    Id  Prediction
0    1           4
1    2           2
2    3           3
3    4           2
4    5           0
5    6           4
6    7           3
7    8           3
8    9           4
9   10           5
10  11           0
11  12           0
12  13           5
13  14           1
14  15           4
15  16           3
16  17           2
17  18           3
18  19           0

Y generamos el entregable para el Kaggle

In [12]:
soldf.to_csv("submission.csv",sep=',',index=False)